@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap");

$primary: #d3d3d3; //lightgrey
$secondary: #22b14c; //green
$third: #b5e61d; //lemongreen
$text: #222222; //darkgrey
$reset: #ff0000; //red
$resetbis: #ff7514; //orange

*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: $primary;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.title {
  font-size: 100px;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.less, .more {
  border: 1.5px solid black;
  border-radius: 40px;
  padding: 4rem;
  margin: 0;
  background-color: $secondary;

  &:hover {
    background-color: $third;
  }

  p {
    font-size: 75px;
    padding: 0;
    margin: auto;
    width: 50px;
    text-align: center;
  }
}

.value {
  padding: 4rem;
  margin: 0;

  p {
    font-size: 100px;
    padding: 0;
    margin: auto;
    width: 200px;
    text-align: center;
  }
}

.reset {
  border: 1px solid black;
  border-radius: 40px;
  padding: 1rem 4rem 1rem 4rem;
  margin: 4rem;
  background-color: $reset;
  width: 100%;

  &:hover {
    background-color: $resetbis;
  }

  p {
    font-size: 50px;
    padding: 0;
    margin: auto;
    text-align: center;
  }
}


@media (max-width: 1380px) {
  .counter {
    display: block;
  }

  .less, .more {
    padding: 0;
  }

  .value {
    padding: 0;
  }
}
