@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  height: 100%;
  display: flex;
  background-color: #d3d3d3;
  color: #222222;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  width: 50%;
  background-color: #FFFFFF;
  border: 1px solid #22b14c;
  border-radius: 40px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.title p {
  margin: 0;
  margin-bottom: 4rem;
}

.counter, .button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.less, .more {
  display: flex;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 40px;
  padding: 4rem;
  margin: 0;
  background-color: #22b14c;
}

.less:hover, .more:hover {
  background-color: #b5e61d;
  cursor: pointer;
}

.less p, .more p {
  font-size: 75px;
  padding: 0;
  margin: auto;
  width: 50px;
  text-align: center;
}

.value p {
  font-size: 100px;
  padding: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}

.reset, .config {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 40px;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #ff0000;
  width: 49%;
}

.reset:hover, .config:hover {
  background-color: #ff7514;
  cursor: pointer;
}

.reset p, .config p {
  font-size: 40px;
  padding: 0;
  margin: auto;
  text-align: center;
}

@media (max-width: 1380px) {
  body {
    width: 60%;
    height: 95%;
  }
  .counter {
    display: block;
  }
  .less, .more {
    padding: 0;
  }
}

@media (max-width: 1064px) {
  body {
    width: 70%;
  }
  .title p {
    font-size: 90px;
  }
  .value p {
    font-size: 90px;
  }
  .reset p, .config p {
    font-size: 30px;
  }
}

@media (max-width: 828px) {
  body {
    width: 80%;
  }
  .title p {
    font-size: 80px;
  }
  .value p {
    font-size: 80px;
  }
  .reset p, .config p {
    font-size: 20px;
  }
}

@media (max-width: 475px) {
  body {
    width: 80%;
  }
  .title p {
    font-size: 65px;
  }
  .less p, .more p {
    font-size: 65px;
  }
  .value p {
    font-size: 70px;
  }
  .reset p, .config p {
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  body {
    width: 90%;
  }
  .title p {
    font-size: 55px;
  }
  .reset p, .config p {
    font-size: 15px;
  }
}
